.mainCard .Polaris-Card {
  margin: 0 10px;
  box-shadow: none;
  border-radius: 5px;
}

.mainCard .Polaris-Card img {
  width: 100%;
  height: 140px;
}

.mainSliderContainer {
  margin-top: 8%;
}

.mainCard {
  border: none;
}

.slider {
  margin: auto;
  padding: 0 20px;
  margin-right: 10px;
}

.cartButton .Polaris-Button--fullWidth {
  background-color: #8d5a33;
  border-radius: 0;
  border: none;
  color: white;
}

.prevButton {
  position: relative;
  cursor: pointer;
}

.innerPrevButton {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  background-color: #8d5a33;
  z-index: 10;
  top: 90px;
  left: 10px;
  cursor: pointer;
}

.innerButton .Polaris-Icon__Svg {
  background: white;
}

.nextButton {
  position: relative;
  cursor: pointer;
}
.innerNextButton {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  background-color: #8d5a33;
  z-index: 10;
  bottom: 125px;
  right: 20px;
  cursor: pointer;
}

.Polaris-Icon__Svg {
  fill: white;
}

.slick-next:before,
.slick-prev:before {
  opacity: 0;
  display: none;
}

@media (max-width: 850px) {
  .mainCard .Polaris-Card img {
    height: 200px;
  }

  .innerNextButton {
    bottom: 175px;
    width: 40px;
    height: 40px;
  }
  .innerPrevButton {
    top: 100px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .mainCard .Polaris-Card img {
    height: 230px;
  }

  .innerNextButton {
    bottom: 205px;
    width: 40px;
    height: 40px;
  }
  .innerPrevButton {
    top: 100px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 425px) {
  .mainCard {
    border-radius: 20px;
  }
  .mainCard .Polaris-Card {
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .mainCard .Polaris-Card img {
    height: 400px;
  }

  .innerNextButton {
    bottom: 285px;
    width: 50px;
    height: 50px;
  }
  .innerPrevButton {
    top: 180px;
    width: 50px;
    height: 50px;
  }
  .mainSliderContainer {
    margin: 0;
  }
}
